{
	"extends": "airbnb",
	"rules": {
		"indent": ["error", "tab", {"SwitchCase": 1}],
		"import/no-unresolved": [2],
		"no-console": [0],
		"no-underscore-dangle": ["error", { "allowAfterThis": true }],
	},
	"env": {
		"jasmine": true,
	}
}
